[Desktop Entry]
Name=OpenPlotter Signal K Diagnostic
Exec=diagnostic-SKinput
Icon=diagnosticSKinput
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter
