[Desktop Entry]
Name=Signal K Filter
Exec=openplotter-SKfilter
Icon=openplotter-SKfilter
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter
