[Desktop Entry]
Name=OpenPlotter Signal K Diagnostic
Exec=diagnostic-SK-input
Icon=openplotter-24
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter
